*.png
*.pyc
*.slurm
*.pxp
*.docx
*.ai
*.psd
*.wpd
*.odt
*.xlsx
NormEuclidPLoSsubmission2_Q2other0/*
NormEuclidPLoSsubmission1/*
Euclid/*
GausMix/*
NormEuclid2021dec3/*
NormEuclid2021dec10/*
ManuscriptFiles/Sequence*.npz
